@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.png {
  -webkit-filter: drop-shadow(3px 3px 3px #4c4c4c);
  filter: drop-shadow(3px 3px 3px #4c4c4c);
  transition: box-shadow 0.3s;
}

.png:hover {
  -webkit-filter: drop-shadow(3px 3px 3px #373737);
  filter: drop-shadow(3px 3px 3px #373737);
}

.zoom {
  transition: transform 1s;
}

.zoom:hover {
  transform: scale(1.25);
}
